

input{
  text-align:center;
}
.PositionOne {
    width:100px;
    height:100px;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    text-align:center;
}
.PositionTwo {
    width:100px;
    height:100px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    text-align:center;
}

.PositionThree {
    width:100px;
    height:100px;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    text-align:center;
}

.PositionFour {
    width:100px;
    height:100px;
    border-right:1px solid #000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    text-align:center;
}

.PositionFive {
    width:100px;
    height:100px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    text-align:center;
}

.PositionSix {
    width:100px;
    height:100px;
    border-left:1px solid #000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    text-align:center;
}

.PositionSeven {
    width:100px;
    height:100px;
    border-right:1px solid #000;
    border-top:1px solid #000;
    text-align:center;
}

.PositionEight {
    width:100px;
    height:100px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-top:1px solid #000;
    text-align:center;
}

.PositionNine {
  width:100px;
  height:100px;
  border-left:1px solid #000;
  border-top:1px solid #000;
  text-align:center;
}

.winner {
    display: none;
}
